// customize some Bootstrap variables
$primary: #e47908;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
body {
    color: white;
    background-color: #2d4156;
}
button[type=submit] {
    color: white;
}
