{% extends 'base.html.twig' %}
{% block title %}Kapcsolatfelvételi űrlap{% endblock %}
{% block body %}

<div class="container">
    <h1>Kapcsolat</h1>
    <p>Kérdés esetén nyugodtan keresse kollégáinkat a következő űrlap segítségével:</p>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
</div>

{% endblock %}